@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

body {
  font-family: Avenir, sans-serif, "GFS Didot", serif;
}

.modal-text {
  @apply text-base leading-relaxed text-stone-600;
}
